body {
  background-image: url("/img/monkeybrain.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: 0% -15%;
}

.search {
  text-align: center;
}
